input[type=email] {
  font-size: 24px;
  width: 600px;
  border: 0;
  padding: 5px;
  border-radius: 3px;
  background: #fff;
}

input[type=email]:focus {
    outline-width: 0;
}

.avatar-wrap{
  text-align: center;
  width: 100%;
}

#avatar{
  border-radius: 100%
}